extends base
block content

  .post-container(data-id=post.id)
    h1.title-heading= post.title
    .post-image
      img(src=`/img/posts/${post.image}`)
    .buttons-nav.front-panel
      a.btn(href="/#") Go back
      a.btn(href=`${post.id}/editpost`) Modify
      a.btn.delete-btn(href="/") Delete post